<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <h1>{{ fullName }}</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      const vm = new Vue({
        el: "#app",
        data: {
          firstName: "Tuanku",
          lastName: "Imam Bonjol",
          join: "",
        },
        computed: {
          fullName: {
            get() {
              return this.firstName + " " + this.lastName + " " + this.join;
            },
            set(newName) {
              var names = newName.split(" ");
              this.firstName = names[0];
              this.lastName = names[names.length - 2];
              this.join = names[names.length - 1];
            },
          },
        },
        methods: {},
      });
    </script>
  </body>
</html>
