<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>Tugas Ajax</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

        html {
            font-family: 'Roboto', 'sans-serif';
        }

        tbody {
            text-align: center;
        }

        button {
            cursor: pointer;
        }

        li {
            list-style: none;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="container my-5">
            <div class="row">
                <div class="col-lg-4 mx-auto">
                    <form @submit.prevent="submitForm()">
                        <p v-if="errors.length">
                            <b>Please correct the following errors : </b>
                            <ul>

                                <li v-for="error in errors">
                                    <div class="alert alert-danger" role="alert">
                                        {{error}}
                                    </div>
                                </li>

                            </ul>
                        </p>
                        <label>Name : </label>
                        <input class="form-control my-3" type="text" :disabled="buttonStatus == 'upload'" name="name"
                            ref="name" v-model="name">
                        <label>Address : </label>
                        <input class="form-control my-3" type="text" :disabled="buttonStatus == 'upload'" name="address"
                            ref="address" v-model="address">
                        <label>Nomor HP : </label>
                        <input class="form-control my-3" type="number" :disabled="buttonStatus == 'upload'" name="no_hp"
                            ref="no_hp" v-model="no_hp">
                        <div v-if="buttonStatus == 'submit'">
                            <input class="btn btn-success" type="submit" value="SUBMIT">
                        </div>
                        <div v-else-if="buttonStatus == 'update'">
                            <input class="btn btn-warning" type="button" value="UPDATE"
                                @click="updateMember(idEditMember)">
                            <input class="btn btn-danger" type="button" value="CANCEL" @click="clearForm">
                        </div>
                        <div v-else-if=" buttonStatus=='upload'">
                            <input class=" form-control my-3" type="file" name="photo_profile" ref="photo_profile">
                            <br>
                            <input class="btn btn-success" type="button" value="UPLOAD"
                                @click="submitPhoto(idUploadMember)">
                            <input class="btn btn-danger" type="button" value="CANCEL" @click="clearForm">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br><br>
        <div class="container">
            <div class="row">
                <div class="col">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Adreess</th>
                                <th scope="col">No_hp</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody v-for="member of members">
                            <tr>
                                <td>
                                    <!-- <img :src="blog.photo ? photoDomain + blog.photo : 'https://dummyimage.com/16:9x1080'"  width="100"> -->
                                    {{member.name}}
                                </td>
                                <td>
                                    <!-- <b>Title : </b> {{blog.title}}
                        <b>Description: </b> {{blog.description}} -->
                                    {{member.address}}
                                </td>
                                <td>{{member.no_hp}}</td>
                                <td>
                                    <button class="btn btn-warning" @click="editMember(member)">Edit</button>
                                    <button class="btn btn-danger" @click="removeMember(member.id)">Hapus</button>
                                    <button class="btn btn-info" @click="uploadFoto(member)">Upload Foto</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                name: '',
                address: '',
                no_hp: '',
                errors: [],
                members: [],
                photoDomain: 'https://demo-api-vue.sanbercloud.com/',
                buttonStatus: 'submit',
                idEditMember: null,
                idUploadMember: null
            },
            methods: {
                validationForm: function () {
                    this.errors = []
                    if (this.name.length < 5) {
                        this.errors.push('Title minimal 5 karakter')
                        this.$refs.name.focus()
                    }
                    if (this.address.length >= 30) {
                        this.errors.push('Address tidak boleh melebihi dari 30 karakter')
                        this.$refs.address.focus()
                    }
                    if (this.no_hp.length === 0) {
                        this.errors.push('no hp tidak boleh kosong')
                        this.$refs.no_hp.focus()
                    }
                },
                clearForm: function () {
                    this.name = ''
                    this.address = ''
                    this.no_hp = ''
                    this.buttonStatus = 'submit'
                    this.idEditMember = null
                    this.idUploadMember = null
                },
                submitForm: function () {
                    this.validationForm()
                    if (this.errors.length === 0) {
                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.no_hp)
                        const config = {
                            method: 'post',
                            url: 'http://demo-api-vue.sanbercloud.com/api/member',
                            data: formData
                        }

                        axios(config)
                            .then((response) => {
                                // console.log(response.data);
                                this.clearForm()
                                this.getBlogs()
                                alert(response.data.message)
                            })
                            .catch((error) => {
                                console.log(error);
                            })
                    }
                },
                getBlogs: function () {
                    const config = {
                        method: 'get',
                        url: 'http://demo-api-vue.sanbercloud.com/api/member'
                    }

                    axios(config)
                        .then((response) => {
                            this.members = response.data.members
                            // console.log(response.data.members);
                        })
                        .catch((error) => {
                            console.log(error);
                        })
                },
                removeMember: function (id) {

                    const config = {
                        method: 'post',
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params: {
                            _method: "DELETE"
                        }
                    }
                    if (confirm('Anda Yakin ingin menghapus data ini ?')) {
                        axios(config)
                            .then((response) => {
                                this.getBlogs()
                                // console.log(response);
                            })
                            .catch((error) => {
                                console.log(error);
                            })
                    }
                },
                editMember: function (member) {
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.buttonStatus = 'update'
                    this.idEditMember = member.id
                    // console.log(this.idEditMember);
                },
                updateMember: function (id) {
                    this.validationForm()
                    if (this.errors.length === 0) {
                        let updateData = new FormData()
                        updateData.append('name', this.name)
                        updateData.append('address', this.address)
                        updateData.append('no_hp', this.no_hp)
                        let config = {
                            method: "post",
                            url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                            params: {
                                _method: 'PUT'
                            },
                            data: updateData
                        }
                        if (confirm('Anda Yakin ingin merubah data ini ?')) {
                            axios(config)
                                .then((response) => {
                                    this.clearForm()
                                    this.getBlogs()
                                })
                                .catch((error) => {
                                    console.log(error);
                                })
                        }
                    }
                },
                uploadFoto: function (member) {
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.idUploadMember = member.id
                    this.buttonStatus = 'upload'
                },
                submitPhoto: function (id) {
                    let file = this.$refs.photo_profile.files[0]
                    let formData = new FormData()
                    formData.append('photo_profile', file)

                    let config = {
                        method: "post",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                        data: formData
                    }
                    axios(config)
                        .then((response) => {
                            this.clearForm()
                            this.getBlogs()
                            alert(response.data.message)
                            // console.log(response.data);
                        })
                        .catch((error) => {
                            console.log(error);
                        })
                }
            },
            created() {
                this.getBlogs()
            }
        })
    </script>
</body>

</html>