<!Doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tugas-Form-Input-Binding</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>

<body>

    <div id="app">
        <div class="container my-5">
            <div class="row">
                <div class="col-lg-4 mx-auto">
                    <input class="form-control my-3" type="text" placeholder="ketikan kata kunci"
                        v-model:value="keyword">
                    <ul v-for="book in searchLogic()">
                        <li>{{book}}</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                books: [
                    'Kalkulus Dasar',
                    'Fisika Dasar',
                    'Aljabar Linier Elementer',
                    'Aljabar Abstrak',
                    'Algoritma Pemrograman'
                ],
                keyword: ''
            },
            methods: {
                searchLogic() {
                    return this.books.filter(book => {
                        return book.toLowerCase().includes(this.keyword.toLowerCase())
                    })
                }
            }
        })
    </script>
</body>

</html>